@font-face {
    font-family: "SFProDisplay";
    font-style: Regular;
    src: local(""), url("../assets/fonts/MiConv.com__SFProDisplay-Regular.woff") format("woff"),
        url("../assets/fonts/MiConv.com__SFProDisplay-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "SFProText";
    font-style: Regular;
    src: local(""), url("../assets/fonts/MiConv.com__SFProText-Regular.woff") format("woff"),
        url("../assets/fonts/MiConv.com__SFProText-Regular.woff2") format("woff2");
}

.decrease-scale {
    font-size: 14px;
}

body {
    max-width: fit-content;
    margin: 0 auto;
    color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    margin-block: 0;
    padding-inline: 0;
    list-style-type: none;
}

strong {
    font-size: 1.571em;
}

header {
    font-family: "SFProText";
    padding: 0.25em;
}

header a {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8125rem;
}

main {
    font-family: "SFProDisplay";
    margin-top: 4.8vh;
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: 0.6875rem;
    margin: 1.97vh 1.87vw 0.86vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/background/4@2x.png");
    width: 320px;
    height: 568px;
    background-size: cover;
    padding: 2.14% 5.3%;
    box-sizing: border-box;
    text-align: center;
}

.content__title {
    font-size: 2.25rem;
    margin: 0 0 3.6vh;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.content__features-list {
    font-family: "SFProText";
    font-size: 1.0625em;
    margin: 0 0 2.5vh 9.3vw;
    text-align: start;
}

.content-features-list__item {
    display: flex;
    align-items: center;
    line-height: 179%;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
}

.content-features-list__icon {
    width: 1.25em;
    margin-right: 0.5em;
}

.content__prices-list,
.footer__rules,
header {
    display: flex;
    justify-content: space-between;
}

.content__prices-list {
    margin: 0 3vw;
}

.content-prices-list__item--monthly {
    background-image: url("../assets/icon/shape-1.svg");
}

.content-prices-list__item--annually {
    background-image: url("../assets/icon/shape-2.svg");
}

.content-prices-list__item {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: round;
    position: relative;
    align-items: center;
    opacity: 0.25;
}

.target {
    opacity: 1;
    transform: scale(1.1, 1.1);
}

.content-prices-list__period {
    font-size: 1.0625em;
    margin: 2.83vh 8.93vw 0;
}

.content-prices-list__cost {
    font-size: 0.875em;
    margin: 2.22vh 9.07vw 0;
}

.content-prices-list__slogan {
    font-size: 0.875em;
    font-weight: bold;
    margin-top: 0.86vh;
    width: 105%;
    background-color: #495795;
    padding: 0.2em 0;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.content-prices-list__slogan--france {
    font-size: 0.65em;
    width: 90%;
}

.content-prices-list__price {
    font-size: 0.75em;
    margin: 1.23vh 8.53vw 1.6vh;
}

.content-prices-list__discount {
    font-size: 0.625em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    right: 3%;
    width: 9.2vw;
    height: 8.6vw;
    border-radius: 50%;
    background-color: #DB0000;
}

.content__continue-btn {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 2.34vh 0;
    font-size: 1.0625em;
    background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
    border-radius: 3.7vh;
    margin: 2.95vh 7.47vw 0;
}

.footer__cancel-btn {
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer-rules__terms-use,
.footer-rules__privacy-policy {
    text-decoration-line: underline;
    color: #BDC0D0;
}

.footer__rules {
    margin-top: 1.97vh;
}

.home-indicator {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.home-indicator__scroll {
    width: 35.73vw;
    height: 0.62vh;
    margin: 0 auto;
    border-radius: 0.5em;
    background-color: #FFFFFF;
}

@media only screen and (min-width: 375px) and (min-height: 667px) and (min-resolution: 2dppx) {
    .wrapper {
        width: 375px;
        height: 667px;
        padding: 10.7% 5.3% 2.14%;
    }

    main {
        margin-top: 7.8vh;
    }

    .content__features-list {
        margin: 0 0 6.5vh 18.3vw;
    }

    .content__prices-list {
        margin: 0 6.67vw;
    }

    .content-prices-list__discount {
        right: 4%;
        width: 8.2vw;
        height: 8vw;
    }
}

@media only screen and (min-width: 375px) and (min-resolution: 3dppx) {
    .wrapper {
        background-image: url("../assets/background/4@3x.png");
        width: 375px;
        height: 812px;
    }

    main {
        margin-top: 18.8vh;
    }

    .content-prices-list__discount {
        right: 1%;
        width: 8.5vw;
        height: 8.7vw;
    }
}

@media only screen and (min-width: 390px) and (min-resolution: 3dppx) {
    .wrapper {
        width: 390px;
        height: 844px;
    }

    .content-prices-list__discount {
        right: 0.5%;
        height: 8.5vw;
    }
}

@media only screen and (min-width: 414px) and (min-height: 736px) and (min-resolution: 3dppx) {
    .wrapper {
        width: 414px;
        height: 736px;
    }

    main {
        margin-top: 10.8vh;
    }

    .content-prices-list__discount {
        right: 4%;
        width: 8vw;
        height: 7.8vw;
    }
}
