@import "./reset.scss";

html {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body {
    width: calc(59.4rem * 0.707);
    height: 59.4rem;
    font-size: 0.8rem;
    font-family: "Asap", sans-serif;
    background-color: #ffffff;
    box-shadow: 3px 3px 60px -5px rgba(35,33,38,0.6);
    overflow: hidden;
}

p {
    width: fit-content;
    margin: 0 auto;
}

article + article {
    margin-top: 1rem;
}

.wrapper {
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns: 39% 1fr;
    height: 100%;
}

.title {
    padding-left: 2.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
}

.representation-block {
    display: flex;
    flex-direction: column;
    background-color: #ceccca;

    .title {
        margin-bottom: 0.6rem;
    }
    
    &__person {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem 5% 5%;
        height: 35%;
        width: auto;
        background-color: #232126;
        border-bottom-left-radius: 10rem;
        border-bottom-right-radius: 10rem;
    }
    
    &__name {
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 0.05rem;
        margin-bottom: 0.5rem;
    }
    
    &__profession {
        letter-spacing: 0.26rem;
        font-size: 1rem;
        color: #ffffff;
    }
    
    &__avatar {
        width: 14rem;
        height: 14rem;
        margin: 0 auto;
        border: 0.4rem solid #ffffff;
        border-radius: 8rem;
        background: url(../assets/avatars/avatar.jpg) no-repeat center / cover;
        box-sizing: border-box;
    }

    &__bottom {
        background-color: #232126;
        border-top-left-radius: 10rem;
        border-top-right-radius: 10rem;
        height: 45%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4rem 0 2rem;
    }
}


.contacts {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #232126;
    
    .title {
        color: #232126;
        background: url(../assets/icons/contacts.svg) no-repeat left center / contain;
    }
    
    &__list {
        width: 65%;
    
        li:last-child {
            line-height: initial;
        }
    
        .phone {
            background: url(../assets/icons/_phone.svg) no-repeat left center / contain;
        }
        
        .email {
            background: url(../assets/icons/_email.svg) no-repeat left center / 1.5rem;
        }
        
        .ln {
            background: url(../assets/icons/_linkedin.svg) no-repeat left center / 1.4rem;
        }
    }
    
    &__item {
        padding-left: 2.5rem;
        line-height: calc(1em + 1rem);
    }
}

.language .title {
    background: url(../assets/icons/globe.svg) no-repeat left center / contain;
}

.education {
    .title {
        color: #ffffff;
        background: url(../assets/icons/education.svg) no-repeat left center / contain;
    }
    
    &__list {
        width: fit-content;
        
        p {
            width: 100%;
            text-align: start;
        }
    
        li + li {
            margin-top: 1rem;
        }
    }
    
    &__institution {
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 0.5rem;
    }
    
    &__time {
        line-height: 2;
    }
}



.info-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    white-space: normal;

    p {
        width: 100%;
        line-height: 1.3em;
        text-align: start;
        color: #232126;
    }

    .title {
        line-height: 1.5;
        text-align: start;
        margin-bottom: 0.6rem;
        background: no-repeat left center / contain;
    }
}

.about-me .title {
    background-image: url(../assets/icons/info.svg);
}

.experience {
    ul {
        margin-top: 0;

        li + li {
            margin-top: 1rem;
        }
    }

    .title {
        background-image: url(../assets/icons/work.svg);
    } 
    
    &__position {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
    }
    
    &__company {
        margin-bottom: 0.3rem;
    }
}


.skills {    
    .title {
        background-image: url(../assets/icons/skills.svg);
    }
    
    &__list {
        display: flex;
        column-gap: 1rem;
        color: #232126;
        width: 100%;
    }

    &__column {
        flex-basis: 30%;
    }
    
    &__item {
        display: block;
        background: no-repeat left center / 1rem;
        padding-left: 1.5rem;
        line-height: 1.2rem;
        text-align: start;
    }
}

.html {
    background-image: url(../assets/icons/icon-html.svg);
}

.css {
    background-image: url(../assets/icons/icon-css.svg);
}

.git {
    background-image: url(../assets/icons/icon-git.svg);
}

.js {
    background-image: url(../assets/icons/icon-js.svg);
}

.ts {
    background-image: url(../assets/icons/icon-typescript.svg);
}

.vue {
    background-image: url(../assets/icons/icon-vue.svg);
}

.vite {
    background-image: url(../assets/icons/icon-vite.svg);
}

.react {
    background-image: url(../assets/icons/icon-react.svg);
}

.svelte {
    background-image: url(../assets/icons/icon-svelte.svg);
}

.gulp {
    background-image: url(../assets/icons/icon-gulp.svg);
}

.webpack {
    background-image: url(../assets/icons/icon-webpack.svg);
}

.hobbies .title {
    background-image: url(../assets/icons/hobbies.svg);
}

@media only screen and (max-width: 430px) {
    html {
        font-size: 2.388vw;
    }

    body {
        width: 100vw;
        height: calc(1.4143 * 100vw);
    }
}
